* {
    text-decoration: none;
    margin: 0px;
    padding: 0px;
} 

body {
    margin: 0px;
    padding: 0px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

/* NOTIFICATION PANEL */

@media only screen and (max-width: 520px) {
    .cookienotif .container-notif {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        height: 140px;
        position: relative;
        left: 10px;
        z-index: 1;
        background:  rgb(217, 217, 217);
    }


}

.cookienotif {
    background: rgb(217, 217, 217);
    position: fixed;
    z-index: 3;
}

.container-notif {
    display: block;
    width: 100%;
    padding: 10px 40px;
    position: fixed;
    background:  rgb(217, 217, 217);
}

.content-panel {
    display: flex;
    flex-wrap: wrap;
    max-width: 720px;
    
}

.cookienotif p {
    width: 80%;
    color: rgb(76, 76, 76);
}


/* .container-notif {
    display: block;
    height: 11vh;
    background-color: rgb(217, 217, 217);
    align-items: center;
    padding-top: 20px;
    
} */

/* .notif-panel {
    display: flex;
    max-width: 720px;
    height: 15px;
    text-align: start;
    font-weight: 400;
    padding-left: 2rem;
    padding-right: 2rem;
   
} */


.notif-panel p {
    color:black;
}

.btn {
    align-items: center;
    padding-top: 0.5rem;
    text-align: center;
    justify-content: center;
    width: 100px;
    height: 30px;
    background-color: rgb(81, 135, 251);
    border: 0.5px solid;
    border-color: rgb(81, 135, 251);
    color: white;
    text-shadow: 1px 1px 1px rgb(120, 120, 120);
    border-radius: 3px;
    padding-left: 1px;
    padding-right: 1px;
}

/* hero shot */


@media only screen and (max-width: 720px) {
    .hero-shot-section .navbar-header {
        display: block;
    }
}

.hero-shot-section {
    width: 100%;
    height: 80vh;
    background-image: linear-gradient(rgba(8, 20, 93, 0.75),rgba(8, 20, 93, 0.75)),url(assets/work-desk__dustin-lee.jpg);
    background-size: cover;
    position: relative;
}

.logo {
    width: 50px;
    padding: 20px 30px;
}
.introduce {
    text-align: center;
    padding-top: 5rem;
    display: block;
    min-width: 200px;
    max-width: 1820px;
    padding-left: 3rem;
    padding-right: 3rem;
    position: relative;
}


.introduce h1,h3,p {
    color: white;

}

.introduce h1 {
    font-size: 30px;
    font-weight: 300;
    padding-bottom: 3px;
}

.introduce h3 {
    font-size: 30px;
    padding-bottom: 10px;
    justify-content: center;

}

.introduce p {
    font-size: 20px;
    padding: 5px 0;
    padding-top: 1rem;
    padding-bottom: 3rem;
}

.introduce a {
    border: 2px solid;
    border-radius: 3px;
    color: white;
    padding: 20px 30px;
    font-weight: bolder;
}

.introduce a:hover {
    cursor: pointer;
    background-color: white;
    color: rgb(34, 34, 253);
    width: 100%;
    text-decoration: none;
    border: none;
    font-weight: bolder;
}

/* hero shot end*/


/*highlight panel card */
.highlights-panel{
    height: 290px;
    background-color: rgb(217, 217, 217);

}
.highlights{
    width: 100%;
    background-color: rgb(217, 217, 217);
    display: block;  
}

.container-1 {
    text-align: center;
    min-width: 220px;
    max-width: 1920px;
    padding-left: 2.5rem;
    padding-right: 2.5rem;
    position: relative;
    display: block;
}

.container-1 h2 {
    color:rgb(68, 68, 68);
    font-weight: 300;
    font-size: 30px;
    padding-bottom: 1rem;
}

.container-1 p {
    font-size: 20px;
    font-weight: 400;
    color: rgb(68, 68, 68);
}
.content-1 { 
    justify-items: center;
    text-align: center;
    padding-top: 3rem;
    padding-right: 1rem;
    line-height: 2rem;
}

.card-content  {
    min-width: 260px;
    display: flex;
}

.container {
    min-height: 460px;
    height: 500px;
    background-color: rgb(217, 217, 217);
}

.card-panel {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    height: 500px;
}



@media only screen and (max-width: 360px)
{
   .card-panel .card {
    display: block;
    margin-top: 3rem;
    width: 90%;
    text-align: left;
    margin: 20px 0px;
    margin-left: 1rem;
    position: relative;
    min-height: 160px;
    min-width: 150px;
   }
   .card-panel {
    height: 500px;
    padding-top: 3rem;
   }
   .container {
    margin-top: 5rem;
   }
   .card-panel .description{
    padding-right: 10px;
    line-height: 1.5;
    padding-top: 2px;
   }
   .highlights {
    line-height: 1;
   }
   .container-notif {
    height: 100px;
   }
   .notif-panel {
    padding: 1px 20px;
   }
   
}

@media only screen and (max-width: 1320px){
    .card-panel .card {
     display: block;
     margin-top: 3rem;
     width: 90%;
     text-align: left;
     margin: 20px 0px;
     margin-left: 1rem;
     position: relative;

    }
    .card-panel {
     padding-top: 2rem;
     display: flex;
     flex-wrap: wrap;
    }
    .container {
     display: flex;
     flex-wrap: wrap;
     height: 1520px;
    
    }
    .card-panel .description{
     padding-right: 10px;
 
    }
 }

@media only screen and (max-width: 465px){
    .card-panel .card {
     display: block;
     margin-top: 3rem;
     width: 90%;
     text-align: left;
     margin: 20px 0px;
     margin-left: 1rem;
     position: relative;

    }
    .card-panel {
     padding-top: 2rem;
    }
    .container {
     height: 1520px;
    
    }
    .card-panel .description{
     padding-right: 10px;
 
    }
 }

.card {
    display: block;
    border: 0.5px solid;
    border-color: rgba(68, 68, 68, 0.46);
    width: 30%;
    height: 160px;
    padding: 20px 0;
    margin-left: 2.3rem;
    border-radius: 5px;
    box-shadow: 1px 1px 1px rgba(68, 68, 68, 0.46);

}

.card-panel h1 {
    padding-left: 1rem;
    line-height: 1.5;
}

.card-panel p {
    color: rgb(68, 68, 68);;
    padding-left: 1rem;
    padding-right: 2.5rem;
    line-height: 1.5;
}
.card-panel i {
    color: rgba(68, 68, 68, 0.46);
    float: right;
    padding-right: 10px;
}

@media only screen and (max-width: 465px){
    .footer .container-footer .copyright {
     display: block;
     margin-top: 30rem;
     text-align: center;
     margin: 20px 0px;
     margin-left: 1rem;
     position: relative;
    }
 }
/*highlight panel card END*/


/* Footer */
footer {
    background-color: rgb(2, 2, 63);
    height: 100px;
}

.container-footer {
    text-align: center;
    padding-top: 3rem;
}

footer .icons {
    color:rgba(255, 255, 255, 0.272);
    text-shadow: 1px 1px 1px rgba(10, 10, 205, 0.348);
}

footer .text-footer {
    font-size: 14px;
    color: rgba(255, 255, 255, 0.345);
    text-shadow: 1px 1px 1px rgba(10, 10, 205, 0.348);
}
/* footer END */


/* NEWSLETTER PANEL */
.popup .overlay {
    position: fixed;
    padding-right: 1rem;
    top: 630px;
    left: 0px;
    width: 500px;
    height: 300px;
    background: rgb(81, 135, 251);
    opacity: 0.9;
    z-index: 1;
    display: none;
    border-radius: 10px;
   
}

.popup .content {
    position: relative;
    width: 470px;
    height: 10px;
    top: 18px;
    left: 50%;
    transform: translate(-50%,50%);
    z-index: 2;
    box-sizing: border-box;
    padding-right: 15px;
}
.popup .close-btn {
    position: absolute;
    padding-right: 20px;
    right: -30px;
    top: -10px;
    width: 30px;
    height: 70px;
    color: white;
    cursor: pointer;
}
.popup  h2 {
    color: white;
    padding-bottom: 5px;
}

.popup p{
    padding-bottom: 10px;
}

.popup.active .overlay {
    display: block;
    
}

.popup.active .content {
    transition: all 300ms ease-in-out;
    transform: translate(-50%,-50%) scale(1);
}
.email {
    width: 60%;
    padding-top: 0.5rem;
    padding-left: 10px;
    justify-content: center;
    padding-bottom: 10px;
}
.btn-count {
    color: white;
    width: 130px;
    padding: 8px 8px;
    background-color: rgb(218, 159, 8);
    border-color: rgb(218, 159, 8);
    cursor: pointer;
}


@media only screen and (max-width: 460px){
    .overlay {
    display: flex;
    flex-wrap: wrap;
    width: 100px;
    position: fixed;
    transform: translate(-10%,-30%) scale(1);
    z-index:3;
    }

    .overlay .content {
        display: flex;
        flex-wrap: wrap;
        max-width: 320px;
        text-align: center;
    }
    .email {
        width: 100%;
        text-align: center;
    }

    .btn-count {
        width: 100%;
    }
 }

 
/* NEWSLETTER PANEL END*/